# Environment variables & secrets
.env
.env.local
.env.*

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pytest_cache

# Large Data & Vector DB Index (excl. dummy files)
data_room/
data_room/vector_store/
data_room/uploads/

# Node dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db
